# Ubuntu services - metric collector - PUB-15d481f-20230818163407
[Unit]
Description=Start the Edge Station Metrics Collector v5 exporter

[Service]
Type=simple
User=eyeflow
Restart=always
RestartSec=10
Environment="CONFIGPATH=/opt/eyeflow/monitor"
CPUAccounting=yes
MemoryAccounting=yes

ExecStart=/usr/bin/python3 /opt/eyeflow/monitor/metric-collector-v5.py

[Install]
WantedBy=multi-user.target
 