# Ubuntu services - proxy client - PUB-41822b6-20230815115204
[Unit]
Description=Start the Metrics Collector v5 proxy client

[Service]
Type=simple
User=eyeflow
Restart=always
RestartSec=10
CPUAccounting=yes
MemoryAccounting=yes

ExecStart=/opt/eyeflow/monitor/lib/pushprox-client --proxy-url=http://34.28.1.197:9096/

[Install]
WantedBy=multi-user.target

